*.pdf
/rechner/node_modules
/rechner/
/rechner/.pnp
/rechner/.pnp.js

# testing
/rechner/coverage

# production
/rechner/build

# misc
/rechner/.DS_Store
/rechner/.env.local
/rechner/.env.development.local
/rechner/.env.test.local
/rechner/.env.production.local

/rechner/npm-debug.log*
/rechner/yarn-debug.log*
/rechner/yarn-error.log*